[submodule "Dit.Umb9.Mutobo.Web/wwwroot/web-components-cms-template"]
	path = Dit.Umb9.Mutobo.Web/wwwroot/web-components-cms-template
	url = https://github.com/mits-gossau/web-components-cms-template.git
