<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3c2a4fc-78cc-4f6c-b4ce-259f0182bc10" Alias="Basis Seite - Media Picker" Level="1">
  <Info>
    <Name>Basis Seite - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "Multiple": false,
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "StartNodeId": null,
  "IgnoreUserStartNodes": false,
  "EnableLocalFocalPoint": false,
  "Crops": []
}]]></Config>
</DataType>