<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8fd02e55-d00a-41e9-8f9c-3843414b90ae" Alias="Card Container - Items- Nested Content" Level="1">
  <Info>
    <Name>Card Container - Items- Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "personalCard",
      "ncTabAlias": "Card Data",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>