<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f60a4426-f2b7-43fd-960e-658efc0d7474" Alias="Home Page - Modules - Nested Content" Level="1">
  <Info>
    <Name>Home Page - Modules - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "accordeon",
      "ncTabAlias": "Module Settings",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>