<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb26ab32-b686-4656-b34a-81ab7c023e4b" Alias="Product Slider - angezeigte Kategorien - Tags" Level="1">
  <Info>
    <Name>Product Slider - angezeigte Kategorien - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "default",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>