<?xml version="1.0" encoding="utf-8"?>
<DataType Key="de04f95a-66af-4b44-b0b8-e320ffef8579" Alias="Product Slider - Content Picker" Level="1">
  <Info>
    <Name>Product Slider - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>