<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d3b34071-8bdc-4365-937e-f4f5078c9ce0" Alias="Produkteseite - Kategorie - Tags" Level="1">
  <Info>
    <Name>Produkteseite - Kategorie - Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "default",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>