<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5542f3c3-706a-4f12-9ef3-70dca58ce57d" Alias="ShopOverviewPage - ShopParentPage - Content Picker" Level="1">
  <Info>
    <Name>ShopOverviewPage - ShopParentPage - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>