<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a5cfacb-d318-4e9d-8c3d-8f903c9ee4d6" Alias="Single Multi URL Picker" Level="1">
  <Info>
    <Name>Single Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "OverlaySize": "small",
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>