<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="90e2cc25-f373-4cba-9c85-c534b3c4481d" Alias="accordeon" Level="3">
  <Info>
    <Name>Accordeon</Name>
    <Icon>icon-list color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Modules</Folder>
    <Compositions>
      <Composition Key="1cd1cbab-e5f2-4b03-81e9-12e776122c5b">module</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>53baf999-ef75-4db4-9122-eb162d294754</Key>
      <Name>Zusammenfassung</Name>
      <Alias>details</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Detailtext zum ausklappen]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings/moduleSettings">Module Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aa7a9541-6379-4637-be74-bb0df4f4027a</Key>
      <Name>Titel</Name>
      <Alias>summary</Alias>
      <Definition>cb371b90-f05e-4760-a072-0a75e2408da3</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link zum ausklappen]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="settings/moduleSettings">Module Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>cdb9bfe4-600a-4a91-904c-5933b5899b1a</Key>
      <Caption>Module Settings</Caption>
      <Alias>settings/moduleSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>