<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="20097921-4c72-4704-8e96-f679babbb13c" Alias="basePage" Level="1">
  <Info>
    <Name>Basis Seite</Name>
    <Icon>icon-navigation-down color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Basis für alle Seitentypen</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>WCBasePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="18cf14e9-89d0-4337-bac3-5590f2053e8c">WCBasePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>64b8d850-031d-452f-b792-10bc36f0f640</Key>
      <Name>Seiten-Footer Konfiguration</Name>
      <Alias>footerConfiguration</Alias>
      <Definition>1e875743-6b13-4292-a6d1-e513db8affac</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier kann ein Footer-Konfiguration für die Seite angelegt werden. Diese wird in der Content-Struktur nach unten vererbt.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="erscheinungsbild/erscheinungsbild">Erscheinungsbild</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>251c85fa-5ed2-4fa1-9174-a15602a0d64e</Key>
      <Name>Seiten-Header Konfiguration</Name>
      <Alias>headerConfiguration</Alias>
      <Definition>011fb59c-77a8-4717-8516-a735c7b3ad0b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier kann ein Header-Konfiguration für die Seite angelegt werden. Diese wird in der Content-Struktur nach unten vererbt.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="erscheinungsbild/erscheinungsbild">Erscheinungsbild</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e4fcc87e-8380-4b1b-b2b8-2f9ef7f04833</Key>
      <Name>Aus Navigation ausblenden</Name>
      <Alias>hideFromNavigation</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ist dieser Schalter aktiviert wird diese Seite aus allen Navigationen ausgeblendet.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="navigation/navigationsEinstellungen">Navigations Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ccb7cf40-433f-4edd-91b5-8034e80802bd</Key>
      <Name>In neuem Fenster öffnen</Name>
      <Alias>newWindow</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ist dieser Schalter gesetzt, öffnet die Seite in einem neuen Fenster. Dies gilt für alle Navigationen und Teaser. Ausnahme: wenn ein Umleitungslink gesetzt ist, gilt die Einstellung innerhalb des Umleitungs-Links.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation/navigationsEinstellungen">Navigations Einstellungen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9a750ee6-d96f-4e14-a86b-cbf95afa26e0</Key>
      <Name>Nicht Klickbar</Name>
      <Alias>notClickable</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ist dieser Schalter aktiviert, ist diese Seite in allen Navigationennicht klickbar.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="navigation/navigationsEinstellungen">Navigations Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4d2e6b00-8621-4a36-8770-094fdf9ee0d1</Key>
      <Name>pageTitle</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="inhalt">Inhalt</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a0cd975b-de18-45db-ae33-2900e38604c2</Key>
      <Name>Umleitungs-Link</Name>
      <Alias>redirectLink</Alias>
      <Definition>c2ebf7df-c765-407a-b81a-a82466a23cb9</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ist hier ein Link gesetzt, fungiert diese Seite nur als Umleitungsseite auf den gesetzten Link. Statt einer Detailansicht wird immer umgeleitet auf die gesetzte Seite. Dies gilt für alle Navigationen und Teaser.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="navigation/navigationsEinstellungen">Navigations Einstellungen</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c4fd1b94-4f23-4b1f-952e-3ea204d8d26e</Key>
      <Name>Theme</Name>
      <Alias>theme</Alias>
      <Definition>adc2d113-686d-46da-8794-f30e1933873b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier kann ein Theme gesetzt werden, welches die Standard-Farbe der Seite übersteuern kann. Themes werden in der Content-Struktur nach unten vererbt.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="erscheinungsbild/erscheinungsbild">Erscheinungsbild</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c254cf3e-02a8-48bb-9338-38c503b2bc6c</Key>
      <Caption>Inhalt</Caption>
      <Alias>inhalt</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>41a485c2-0d66-4ee6-84b5-b948df7faf3d</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>1d3cdf14-810b-43a9-8c06-84fc67cb62e9</Key>
      <Caption>Navigations Einstellungen</Caption>
      <Alias>navigation/navigationsEinstellungen</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>ac96deeb-1a23-48e8-a141-2c71c942a245</Key>
      <Caption>Erscheinungsbild</Caption>
      <Alias>erscheinungsbild</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>ac0a53cd-aa38-40ee-9433-7701ea441c32</Key>
      <Caption>Erscheinungsbild</Caption>
      <Alias>erscheinungsbild/erscheinungsbild</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>