<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6d5b202b-27b3-4f72-a30b-d8a54541e275" Alias="blogModule" Level="2">
  <Info>
    <Name>BlogModule</Name>
    <Icon>icon-newspaper color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions>
      <Composition Key="1cd1cbab-e5f2-4b03-81e9-12e776122c5b">module</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>c5177512-b8af-4914-9d20-526d0f18ff70</Key>
      <Caption>Module Settings</Caption>
      <Alias>moduleSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>