<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9498937e-9f29-4fcf-8d7f-e25eb5c3ee09" Alias="cardContainer" Level="3">
  <Info>
    <Name>Card Container</Name>
    <Icon>icon-inbox-full color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types/Modules</Folder>
    <Compositions>
      <Composition Key="1cd1cbab-e5f2-4b03-81e9-12e776122c5b">module</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1182140b-794c-41ce-8ab6-08ed30e3fc1a</Key>
      <Name>Cards</Name>
      <Alias>items</Alias>
      <Definition>8fd02e55-d00a-41e9-8f9c-3843414b90ae</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Module Settings">Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c09e3f69-f008-49e4-b42f-da709bc104c8</Key>
      <Caption>Module Settings</Caption>
      <Alias>Module Settings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>