<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9498937e-9f29-4fcf-8d7f-e25eb5c3ee09" Alias="cardContainer" Level="3">
  <Info>
    <Name>Card Container</Name>
    <Icon>icon-inbox-full color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Modules</Folder>
    <Compositions>
      <Composition Key="1cd1cbab-e5f2-4b03-81e9-12e776122c5b">module</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9cb84f9d-bf6a-4492-8577-146d95eb0cdc</Key>
      <Name>Cards</Name>
      <Alias>cards</Alias>
      <Definition>2d20e31e-6f93-4949-91a4-ad1570104fed</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Cards]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings/moduleSettings">Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>63091fb4-d6f1-4fb5-853c-15ef4aefe6b3</Key>
      <Caption>Module Settings</Caption>
      <Alias>settings/moduleSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>