<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="90e7ab8f-e1ba-48ca-a51c-f19843eeb014" Alias="card" Level="2">
  <Info>
    <Name>Card</Name>
    <Icon>icon-credit-card-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>391d1eba-1c75-41f3-aaeb-97e7c04a91ff</Key>
      <Caption>Card Data</Caption>
      <Alias>cardData</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>