<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1248d6a1-0316-46d6-b060-85dd4d758f57" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="20097921-4c72-4704-8e96-f679babbb13c">basePage</Parent>
    <Compositions>
      <Composition Key="20097921-4c72-4704-8e96-f679babbb13c">basePage</Composition>
    </Compositions>
    <DefaultTemplate>WCHomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ab833072-0979-4bd8-9b6f-79b448f87aa7">WCHomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d933e00e-de44-4f3a-a42f-ff39ee5a31d4" SortOrder="0">searchResults</ContentType>
    <ContentType Key="441ce016-5aa1-48cb-b657-a9187b7b9aaf" SortOrder="1">xmlSiteMap</ContentType>
    <ContentType Key="39dd2af4-b20d-4e20-a01d-35da4c13618f" SortOrder="2">formPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>