<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d252a9ff-5619-4e63-a3c5-c7f1ec0d7d98" Alias="pictureModule" Level="3">
  <Info>
    <Name>Bild</Name>
    <Icon>icon-picture color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types/Modules</Folder>
    <Compositions>
      <Composition Key="1cd1cbab-e5f2-4b03-81e9-12e776122c5b">module</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3d815f0b-a025-44de-b3e6-0b931dd1ca12</Key>
      <Name>Picture</Name>
      <Alias>image</Alias>
      <Definition>134b5861-aece-438e-98c4-18c333c14791</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings/moduleSettings">Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b70756c5-1c17-4037-a2a9-2972e1a406e1</Key>
      <Caption>Module Settings</Caption>
      <Alias>settings/moduleSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>