<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="778a35a0-8310-484e-8bef-b22a87d4b4b3" Alias="produkteseite" Level="4">
  <Info>
    <Name>Produkteseite</Name>
    <Icon>icon-bill color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="ef7135c1-6832-4d21-be5a-e4f3213f2fc7">contentPage</Parent>
    <Compositions>
      <Composition Key="ef7135c1-6832-4d21-be5a-e4f3213f2fc7">contentPage</Composition>
    </Compositions>
    <DefaultTemplate>ProdukteSeite</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="26e4828b-a334-407e-801b-1bd0355d0d77">ProdukteSeite</Template>
      <Template Key="18cf14e9-89d0-4337-bac3-5590f2053e8c">WCBasePage</Template>
      <Template Key="075953c9-d40e-49a7-9940-9b00c1f3e75d">WCHomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2ac14f80-85da-4b9a-acf3-3dc9ec9f74d2</Key>
      <Name>preis</Name>
      <Alias>preis</Alias>
      <Definition>3f6619b6-08a4-4be7-8d6a-2761844ee567</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="inhalt/preis">Preis</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>23675f38-bd4e-4e9a-b6f3-f21ed2793346</Key>
      <Caption>Preis</Caption>
      <Alias>inhalt/preis</Alias>
      <Type>Group</Type>
      <SortOrder>-9</SortOrder>
    </Tab>
  </Tabs>
</ContentType>