<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b8a81d7b-1f86-4c38-9636-de853a7fa010" Alias="shopOverviewPage" Level="4">
  <Info>
    <Name>ShopOverviewPage</Name>
    <Icon>icon-shopping-basket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="ef7135c1-6832-4d21-be5a-e4f3213f2fc7">contentPage</Parent>
    <Compositions>
      <Composition Key="ef7135c1-6832-4d21-be5a-e4f3213f2fc7">contentPage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f9341424-8854-4057-94a2-b178ba821072">WCShopOverviewPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="778a35a0-8310-484e-8bef-b22a87d4b4b3" SortOrder="0">productPage</ContentType>
    <ContentType Key="ef7135c1-6832-4d21-be5a-e4f3213f2fc7" SortOrder="1">contentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>bea2d734-a7c6-47a0-848f-58259e68b1c8</Key>
      <Name>ShopParentPage</Name>
      <Alias>shopParentPage</Alias>
      <Definition>5542f3c3-706a-4f12-9ef3-70dca58ce57d</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="teaserCategories">Teaser Categories</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b88d02f3-e75e-423f-a89b-1092ced85b6b</Key>
      <Name>TeaserCategories
Zeige Teaser für folgende Kategorien</Name>
      <Alias>teaserCategories</Alias>
      <Definition>59ac0a33-9d34-4236-9886-99310d13d7f1</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="teaserCategories">Teaser Categories</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f7eff2d2-d4e5-44d9-a5cd-eeea38022d54</Key>
      <Caption>Teaser Categories</Caption>
      <Alias>teaserCategories</Alias>
      <Type>Tab</Type>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>