<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="36535b55-fe34-4003-958f-7a5378fef10c" Alias="sliderComponent" Level="2">
  <Info>
    <Name>Galeriekomponente</Name>
    <Icon>icon-playing-cards color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Kann in einem Modulfeld gesetzt werden.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions>
      <Composition Key="1cd1cbab-e5f2-4b03-81e9-12e776122c5b">module</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>65fdfa46-70f0-4f6c-ac01-e88a0eaba943</Key>
      <Name>Intervall des Bildwechsels in ms</Name>
      <Alias>interval</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="moduleSettings">Module Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a811c708-281d-47ed-b5d2-df717b96098d</Key>
      <Caption>Module Settings</Caption>
      <Alias>moduleSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>