<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a80f6f69-e3d2-4bf3-bba9-09bee776c207" Alias="theme" Level="2">
  <Info>
    <Name>Theme</Name>
    <Icon>icon-theater color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>112e9358-15ae-4d90-b643-8063e3ce1594</Key>
      <Caption>Colors</Caption>
      <Alias>colors</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>