<?xml version="1.0" encoding="utf-8"?>
<Media Key="c19917d3-ce11-4bd4-aca9-12f6d060068d" Alias="16020643455F7d8fd9d08b3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/F7d8fd9d08b3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-04-22T18:23:48</CreateDate>
    <NodeName Default="16020643455F7d8fd9d08b3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0uljtqir/16020643455f7d8fd9d08b3.png","focalPoint":{"left":0.978955007256894,"top":0.5065502183406113}}]]></Value>
    </umbracoFile>
  </Properties>
</Media>