<?xml version="1.0" encoding="utf-8"?>
<Media Key="02b5e4ce-0129-40eb-9457-38717c83db0a" Alias="20 11 2021 09 56 06" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2022-02-13T09:47:45</CreateDate>
    <NodeName Default="20 11 2021 09 56 06" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/21slkarj/20-11-_2021_09-56-06.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>