<?xml version="1.0" encoding="utf-8"?>
<Media Key="1762fb9d-a5b0-4bee-8d8f-8507be9149b0" Alias="Avia Vogel Tanken (002)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AviaVogelTanken002</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-04-22T21:55:25</CreateDate>
    <NodeName Default="Avia Vogel Tanken (002)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tp3hef3q/avia-vogel-tanken-002.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>