<?xml version="1.0" encoding="utf-8"?>
<Media Key="c993ba3a-e569-46c7-a8ef-646e98dcc7fa" Alias="Download" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Download</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-04-22T14:48:12</CreateDate>
    <NodeName Default="Download" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hs3jhslj/download.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>