<?xml version="1.0" encoding="utf-8"?>
<Media Key="597a325a-f3e3-4805-9ebd-7f8c60aac12a" Alias="Head 3" Level="2">
  <Info>
    <Parent Key="2edda196-229b-48ef-adc3-80045fe7a116">Demo Images</Parent>
    <Path>/DemoImages/Head3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-12T15:16:41</CreateDate>
    <NodeName Default="Head 3" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lqzhuwpd/head-3.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>