<?xml version="1.0" encoding="utf-8"?>
<Media Key="6fdb6167-2888-41e6-a8cc-5fba973ed946" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-18T09:17:16</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mfqnw12i/images.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>