<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9997966-793b-4938-85f0-a3c94374d732" Alias="IMG 0787" Level="2">
  <Info>
    <Parent Key="2edda196-229b-48ef-adc3-80045fe7a116">Demo Images</Parent>
    <Path>/DemoImages/IMG0787</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-12T15:16:29</CreateDate>
    <NodeName Default="IMG 0787" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mb2jt0j1/img_0787.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>