<?xml version="1.0" encoding="utf-8"?>
<Media Key="e13f44fb-56f3-4abb-b36c-ac12975edc6d" Alias="Mos Eisley Spaceport Main 5Fd7848d" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MosEisleySpaceportMain5Fd7848d</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-04-22T18:23:51</CreateDate>
    <NodeName Default="Mos Eisley Spaceport Main 5Fd7848d" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5vcd5ypt/mos-eisley-spaceport-main_5fd7848d.jpeg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>