<?xml version="1.0" encoding="utf-8"?>
<Media Key="31776654-b7e4-4e16-80a2-f418eb20c467" Alias="Natur (33) (1) (1) (1)" Level="2">
  <Info>
    <Parent Key="2edda196-229b-48ef-adc3-80045fe7a116">Demo Images</Parent>
    <Path>/DemoImages/Natur33111</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-12T15:16:30</CreateDate>
    <NodeName Default="Natur (33) (1) (1) (1)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/kjthompe/natur-33.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>