<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9efd714-5b24-4532-8b5a-bdcdfcd34094" Alias="Natur (6) (1) (1) (1)" Level="2">
  <Info>
    <Parent Key="2edda196-229b-48ef-adc3-80045fe7a116">Demo Images</Parent>
    <Path>/DemoImages/Natur6111</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-12T15:16:29</CreateDate>
    <NodeName Default="Natur (6) (1) (1) (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cllp5wje/natur-6.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>