<?xml version="1.0" encoding="utf-8"?>
<Media Key="9aac2d9a-a7fd-46eb-926b-4eb257206e6d" Alias="Natur (12) (1)" Level="2">
  <Info>
    <Parent Key="2edda196-229b-48ef-adc3-80045fe7a116">Demo Images</Parent>
    <Path>/DemoImages/Natur121</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-12T15:16:30</CreateDate>
    <NodeName Default="Natur (12) (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tqwlzgx3/natur-12.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>