<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb509f51-97ad-44a9-82a8-7e254a17f9cc" Alias="Sample Mp4 File Small" Level="2">
  <Info>
    <Parent Key="2edda196-229b-48ef-adc3-80045fe7a116">Demo Images</Parent>
    <Path>/DemoImages/SampleMp4FileSmall</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2022-03-12T15:22:30</CreateDate>
    <NodeName Default="Sample Mp4 File Small" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pgpfb03n/sample-mp4-file-small.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>