<?xml version="1.0" encoding="utf-8"?>
<Media Key="2655e51b-f925-4969-aaa0-578bdfb5fb03" Alias="Vladimir Putin 11 10 2020 (Cropped)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VladimirPutin11102020Cropped</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-13T07:23:59</CreateDate>
    <NodeName Default="Vladimir Putin 11 10 2020 (Cropped)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dxsfkjrf/vladimir_putin_11-10-2020_-cropped.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>