<?xml version="1.0" encoding="utf-8"?>
<Media Key="5288e318-6d31-4808-9b31-5e4854cd603e" Alias="Winter Hörmoos '08 (5) (1)" Level="2">
  <Info>
    <Parent Key="2edda196-229b-48ef-adc3-80045fe7a116">Demo Images</Parent>
    <Path>/DemoImages/WinterHoermoos0851</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-12T15:16:29</CreateDate>
    <NodeName Default="Winter Hörmoos '08 (5) (1)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/d1rjqurr/winter-hoermoos-08-5.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>