@using Dit.Umb9.Mutobo.ToolBox.Common.Extensions
@using Dit.Umb9.Mutobo.ToolBox.Interfaces
@using Dit.Umb9.Mutobo.ToolBox.Models.Config
@using Dit.Umb9.Mutobo.ToolBox.Models.Pages
@using Dit.Umb9.Mutobo.ToolBox.Models.PoCo
@using Umbraco.Cms.Web.Common.PublishedModels;
@using System.Threading;
@using Umbraco.Cms.Core.WebAssets;
@inject IRuntimeMinifier runtimeMinifier;
@inject ISeoService seoServive;



@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Dit.Umb9.Mutobo.ToolBox.Models.Pages.BasePage>
@* the fun starts here *@
<!DOCTYPE html>
<html lang="@Thread.CurrentThread.CurrentUICulture.Name">
<head>
    <meta charset=UTF-8>
    @*<meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' https://www.google.com https://cdn.jsdelivr.net/ https://www.googletagmanager.com/ https://www.gstatic.com/; font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://fonts.gstatic.com; connect-src 'self' https://www.google-analytics.com; img-src 'self' 'unsafe-inline'">*@
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="inline-css-bundle"/>
    <title>@Model.PageTitle</title>
    @await Html.PartialAsync("~/Views/Partials/SEOConfiguration.cshtml", seoServive.GetSeoConfiguration())
    @if (!string.IsNullOrEmpty(Model.GoogleAnalyticsKey))
    {
        @await Html.PartialAsync("~/Views/Partials/GoogleAnalytics.cshtml", new GoogleAnalyticsModel() { Key = Model.GoogleAnalyticsKey })
    }

    @if (Model.Theme != null)
    {
         @await Html.PartialAsync("~/Views/Partials/CssVariables.cshtml", Model.Theme)
    }
</head>
<body>
    <p-general>
        @if (Model.HeaderConfiguration != null)
        {
            @await Html.PartialAsync("~/Views/Partials/Header.cshtml", Model.HeaderConfiguration)
        }   
        @RenderBody()

        @if (Model.FooterConfiguration != null)
        {
             @await Html.PartialAsync("~/Views/Partials/Footer.cshtml", Model.FooterConfiguration as FooterConfig)
        }
    </p-general>
    
    <script src="/web-components-cms-template-base/wc-config.js?baseUrl=/web-components-cms-template-base/src/es/components/" type="text/javascript"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <m-cookie-banner storage="localStorage" namespace="cookie-banner-">
        <style>
            :host {
                z-index: 10;
            }
        </style>
        <section>
            <p>
                Diese Seite verwenden Cookies und ähnliche Technologien um das Benutzererlebnis zu verbesseren. Mit der weiteren Nutzung dieser Webseite stimmst du der Verwendung von Cookies und ähnlichen Technologien zu.
            </p>
            <button>Ja, ich habe verstanden.</button>
        </section>
    </m-cookie-banner>

    <script>
        function onSubmit(token) {
            document.getElementById("demo-form").submit();
        }
    </script>

        <script rel="preload" type="module">self.Environment = {
    mobileBreakpoint: '1250px'
    }</script>
    

</body>
</html>

