<?xml version="1.0" encoding="utf-8"?>
<Content Key="eee39f78-b8e7-4a89-9c0e-e1e1bf4f6bc9" Alias="My First Product" Level="3">
  <Info>
    <Parent Key="094943e3-8257-4036-abd7-1ab4d0010f01">Test 2</Parent>
    <Path>/Test/Test2/MyFirstProduct</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2022-04-26T16:11:23</CreateDate>
    <NodeName Default="My First Product" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6685acb5-bd15-4880-a5a0-72dcdcf9b971">WCProductPage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[My First Product ist das beste was du je gesehen hast.]]></Value>
    </abstract>
    <categories>
      <Value><![CDATA[["Waffen"]]]></Value>
    </categories>
    <emotionImages>
      <Value><![CDATA[umb://media/890e10fdd2794ea7b638dcf880a507e8]]></Value>
    </emotionImages>
    <footerConfiguration>
      <Value><![CDATA[]]></Value>
    </footerConfiguration>
    <headerConfiguration>
      <Value><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[0]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <modules>
      <Value><![CDATA[]]></Value>
    </modules>
    <newWindow>
      <Value><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value><![CDATA[My First Product]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[25.3]]></Value>
    </price>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
  </Properties>
</Content>