<?xml version="1.0" encoding="utf-8"?>
<Content Key="fad0d712-71e6-48a1-bb9f-7bb54a8c84d3" Alias="My Second Product" Level="3">
  <Info>
    <Parent Key="094943e3-8257-4036-abd7-1ab4d0010f01">Test 2</Parent>
    <Path>/Test/Test2/MySecondProduct</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2022-04-27T16:57:14</CreateDate>
    <NodeName Default="My Second Product" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6685acb5-bd15-4880-a5a0-72dcdcf9b971">WCProductPage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[My First Product ist das beste was du je gesehen hast.]]></Value>
    </abstract>
    <categories>
      <Value><![CDATA[["Tiere"]]]></Value>
    </categories>
    <emotionImages>
      <Value><![CDATA[umb://media/ddc8de4180c24a588047993ffb887f73,umb://media/f906220f27fd478fb8d6893c3629c9d8]]></Value>
    </emotionImages>
    <footerConfiguration>
      <Value><![CDATA[]]></Value>
    </footerConfiguration>
    <headerConfiguration>
      <Value><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[0]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <modules>
      <Value><![CDATA[]]></Value>
    </modules>
    <newWindow>
      <Value><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value><![CDATA[My Second Product]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[25.3]]></Value>
    </price>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
  </Properties>
</Content>