<?xml version="1.0" encoding="utf-8"?>
<Content Key="094943e3-8257-4036-abd7-1ab4d0010f01" Alias="Test 2" Level="2">
  <Info>
    <Parent Key="d0bf4072-cd63-470f-a859-068209bdfe14">Test</Parent>
    <Path>/Test/Test2</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-04-23T18:52:52</CreateDate>
    <NodeName Default="Test 2">
      <Name Culture="en-us">Test 2</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3ec7d64f-87fc-42b7-a8e0-0f353d5fc23c">WCContentPage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value Culture="en-us"><![CDATA[Test Test Test]]></Value>
    </abstract>
    <emotionImages>
      <Value><![CDATA[]]></Value>
    </emotionImages>
    <footerConfiguration>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </footerConfiguration>
    <headerConfiguration>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[0]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </mainContent>
    <modules>
      <Value Culture="en-us"><![CDATA[[{"key":"28141115-36ea-43a4-a215-a9bfc4c63f8c","name":"Product Slider","ncContentTypeAlias":"productSlider","PropType":null,"shopParentNode":"umb://document/094943e382574036abd71ab4d0010f01","showedCategories":"","navigationAnchor":"","spacerBeforeModule":"0","spacerAfterModule":"0"}]]]></Value>
    </modules>
    <newWindow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="en-us"><![CDATA[Test]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectLink>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
  </Properties>
</Content>