<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4c2dc63-318e-402a-b951-3e7eecc7f2a1" Alias="Test" Level="2">
  <Info>
    <Parent Key="d0bf4072-cd63-470f-a859-068209bdfe14">Test</Parent>
    <Path>/Test/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>shopOverviewPage</ContentType>
    <CreateDate>2022-04-27T17:22:52</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f9341424-8854-4057-94a2-b178ba821072">WCShopOverviewPage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Test]]></Value>
    </abstract>
    <emotionImages>
      <Value><![CDATA[]]></Value>
    </emotionImages>
    <footerConfiguration>
      <Value><![CDATA[]]></Value>
    </footerConfiguration>
    <headerConfiguration>
      <Value><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[0]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <modules>
      <Value><![CDATA[]]></Value>
    </modules>
    <newWindow>
      <Value><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value><![CDATA[Test]]></Value>
    </pageTitle>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <shopParentPage>
      <Value><![CDATA[umb://document/094943e382574036abd71ab4d0010f01]]></Value>
    </shopParentPage>
    <teaserCategories>
      <Value><![CDATA[Tiere]]></Value>
    </teaserCategories>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
  </Properties>
</Content>