<?xml version="1.0" encoding="utf-8"?>
<Media Key="f906220f-27fd-478f-b8d6-893c3629c9d8" Alias="20211127 081034" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-04-27T16:57:39</CreateDate>
    <NodeName Default="20211127 081034" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/beran4p3/20211127_081034.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>