<?xml version="1.0" encoding="utf-8"?>
<Media Key="0318f7af-9183-4392-9d96-547ef235e92d" Alias="Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-04-25T16:35:31</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vh1bqa2d/logo.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>