@model Dit.Umb9.Mutobo.ToolBox.Modules.Accordeon
<m-details @(Model.Anchor != string.Empty ? $"id={Model.Anchor}" : "")>
    <details >
        <summary>
            @Model.Summary.ToUpper()
        </summary>
        <p>
            @Html.Raw(Model.Details)
            <a href="#" class="close">"TRANSLATE"</a>
        </p>
    </details>
</m-details>
