<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="778a35a0-8310-484e-8bef-b22a87d4b4b3" Alias="productPage" Level="4">
  <Info>
    <Name>Produkteseite</Name>
    <Icon>icon-bill color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="ef7135c1-6832-4d21-be5a-e4f3213f2fc7">contentPage</Parent>
    <Compositions>
      <Composition Key="ef7135c1-6832-4d21-be5a-e4f3213f2fc7">contentPage</Composition>
    </Compositions>
    <DefaultTemplate>WCProductPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6685acb5-bd15-4880-a5a0-72dcdcf9b971">WCProductPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e992b381-d93f-4a25-a37e-cc04ef8a0b0b</Key>
      <Name>Kategorie</Name>
      <Alias>categories</Alias>
      <Definition>d3b34071-8bdc-4365-937e-f4f5078c9ce0</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="produkt/preis">Preis</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2ac14f80-85da-4b9a-acf3-3dc9ec9f74d2</Key>
      <Name>preis</Name>
      <Alias>price</Alias>
      <Definition>3f6619b6-08a4-4be7-8d6a-2761844ee567</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="produkt/preis">Preis</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>23675f38-bd4e-4e9a-b6f3-f21ed2793346</Key>
      <Caption>Preis</Caption>
      <Alias>produkt/preis</Alias>
      <Type>Group</Type>
      <SortOrder>-9</SortOrder>
    </Tab>
    <Tab>
      <Key>2958ae4e-1aa9-4495-9cd3-73b4dc94090f</Key>
      <Caption>Produkt</Caption>
      <Alias>produkt</Alias>
      <Type>Tab</Type>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>