<?xml version="1.0" encoding="utf-8"?>
<Content Key="37af3eb9-0dc8-4bbc-b561-1c1ff1103bf1" Alias="Home (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Home1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-04-22T21:45:18</CreateDate>
    <NodeName Default="Home (1)">
      <Name Culture="de-ch">Home (1)</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-ch">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerConfiguration>
      <Value><![CDATA[]]></Value>
    </footerConfiguration>
    <headerConfiguration>
      <Value><![CDATA[]]></Value>
    </headerConfiguration>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <modules>
      <Value Culture="de-ch"><![CDATA[[{"key":"680e249b-b892-418c-ad51-9d0bcb8e2ce1","name":"Titel","ncContentTypeAlias":"heading","PropType":null,"text":"Test","renderAs":"[\"Heading1\"]","navigationAnchor":"","spacerBeforeModule":"0","spacerAfterModule":"0"}]]]></Value>
    </modules>
    <newWindow>
      <Value Culture="de-ch"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="de-ch"><![CDATA[Test]]></Value>
    </pageTitle>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
  </Properties>
</Content>