<?xml version="1.0" encoding="utf-8"?>
<Content Key="3356fe8e-0078-4bc2-943b-c6546579cd48" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-04-22T21:44:38</CreateDate>
    <NodeName Default="Home">
      <Name Culture="de-ch">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="de-ch">true</Published>
    </Published>
    <Schedule />
    <Template Key="075953c9-d40e-49a7-9940-9b00c1f3e75d">WCHomePage</Template>
  </Info>
  <Properties>
    <footerConfiguration>
      <Value Culture="de-ch"><![CDATA[[{"key":"c5645f1e-18e0-401f-a763-9ede012b73cb","name":"Item 1","ncContentTypeAlias":"footerConfiguration","PropType":null,"blockLinks":"","footerLinks":"","pictureLinks":"","copyright":"hgjhgjh"}]]]></Value>
    </footerConfiguration>
    <headerConfiguration>
      <Value Culture="de-ch"><![CDATA[[{"key":"f697cd81-c228-4c65-86be-a8ceb96e36e5","name":"Item 1","ncContentTypeAlias":"headerConfiguration","PropType":null,"logo":"umb://media/1762fb9da5b04bee8d8f8507be9149b0","logoUrl":""}]]]></Value>
    </headerConfiguration>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <modules>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </modules>
    <newWindow>
      <Value Culture="de-ch"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="de-ch"><![CDATA[Home]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="de-ch"><![CDATA[]]></Value>
    </redirectLink>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
  </Properties>
</Content>