<?xml version="1.0" encoding="utf-8"?>
<Content Key="46dae0d0-7615-415d-95d5-66b6bc79f86b" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-02-13T17:19:54</CreateDate>
    <NodeName Default="Home">
      <Name Culture="en-us">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="075953c9-d40e-49a7-9940-9b00c1f3e75d">WCHomePage</Template>
  </Info>
  <Properties>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value Culture="en-us"><![CDATA[[{"key":"43f0bc74-aa08-495e-a926-6d8d22fb489b","name":"Item 1","ncContentTypeAlias":"footerConfiguration","PropType":null,"blockLinks":"","footerLinks":"[{\"name\":\"Home\",\"udi\":\"umb://document/46dae0d07615415d95d566b6bc79f86b\"}]","pictureLinks":"","copyright":"Schenk Smart Solutions"}]]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value Culture="en-us"><![CDATA[[{"key":"428ce2b9-6ea2-4990-80d5-407df21dbc4b","name":"Item 1","ncContentTypeAlias":"headerConfiguration","PropType":null,"logo":"umb://media/24c6e74516c44c96a7790f4097bfc8e0","logoUrl":"[{\"name\":\"Home\",\"udi\":\"umb://document/46dae0d07615415d95d566b6bc79f86b\"}]"}]]]></Value>
    </headerConfiguration>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="en-us"><![CDATA[[{"key":"33d8f901-935a-4763-9b08-ff8e1c039662","name":"Titel","ncContentTypeAlias":"heading","PropType":null,"text":"Willkommen auf der MUTOBO 9 Testseite","renderAs":"[\"Heading1\"]","navigationAnchor":"","spacerBeforeModule":"0","spacerAfterModule":"0"},{"key":"f5f8054a-194b-45a7-aeaf-fac56acbdbe5","name":"Bild","ncContentTypeAlias":"pictureModule","PropType":null,"image":"umb://media/bfe63b7cabf84908a578c1c054772797","navigationAnchor":"","spacerBeforeModule":"0","spacerAfterModule":"0"}]]]></Value>
    </modules>
    <newWindow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="en-us"><![CDATA[Home]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>