<?xml version="1.0" encoding="utf-8"?>
<Content Key="7245694e-b234-414f-ad12-ef2ed7bbd55a" Alias="Quote" Level="2">
  <Info>
    <Parent Key="46dae0d0-7615-415d-95d5-66b6bc79f86b">Home</Parent>
    <Path>/Home/Quote</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-02-18T13:44:54</CreateDate>
    <NodeName Default="Quote">
      <Name Culture="en-us">Quote</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3ec7d64f-87fc-42b7-a8e0-0f353d5fc23c">WCContentPage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value Culture="en-us"><![CDATA[Testseite für Quote Modul]]></Value>
    </abstract>
    <emotionImages>
      <Value><![CDATA[]]></Value>
    </emotionImages>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value><![CDATA[]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[0]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="en-us"><![CDATA[[{"key":"704b8fee-baa6-466e-b594-1d76a58c4930","name":"Quote","ncContentTypeAlias":"quote","PropType":null,"quoteText":"Wer für den Schwachen kämpft, hat den Starken zum Feind.","spellerName":"Gottlieb Duttweiler","spellerFunction":"Migrosgründer","navigationAnchor":"","spacerBeforeModule":"0","spacerAfterModule":"0"}]]]></Value>
    </modules>
    <newWindow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="en-us"><![CDATA[Quote]]></Value>
    </pageTitle>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>