<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce96238f-5ce7-4444-9e5d-3178b3de55f0" Alias="Search" Level="2">
  <Info>
    <Parent Key="46dae0d0-7615-415d-95d5-66b6bc79f86b">Home</Parent>
    <Path>/Home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>searchResults</ContentType>
    <CreateDate>2022-03-04T09:28:50</CreateDate>
    <NodeName Default="Search">
      <Name Culture="en-us">Search</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="1f227154-0786-4082-981e-785e779ff6af">WCSearchResults</Template>
  </Info>
  <Properties>
    <footerConfiguration>
      <Value><![CDATA[]]></Value>
    </footerConfiguration>
    <headerConfiguration>
      <Value><![CDATA[]]></Value>
    </headerConfiguration>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <newWindow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
  </Properties>
</Content>