<?xml version="1.0" encoding="utf-8"?>
<Content Key="47198d07-85ba-49b4-a746-dae0b529e550" Alias="Testseite für Videomodul" Level="2">
  <Info>
    <Parent Key="46dae0d0-7615-415d-95d5-66b6bc79f86b">Home</Parent>
    <Path>/Home/TestseiteFuerVideomodul</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-02-18T12:34:17</CreateDate>
    <NodeName Default="Testseite für Videomodul">
      <Name Culture="en-us">Testseite für Videomodul</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3ec7d64f-87fc-42b7-a8e0-0f353d5fc23c">WCContentPage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value Culture="en-us"><![CDATA[Testseite für Videomodul]]></Value>
    </abstract>
    <emotionImages>
      <Value><![CDATA[]]></Value>
    </emotionImages>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[0]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </mainContent>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="en-us"><![CDATA[[{"key":"3157a06b-28b7-4ad2-8c85-0c51e4814a76","name":"Video Komponente","ncContentTypeAlias":"videoComponent","PropType":null,"videoFile":"umb://media/eb509f5197ad44a982a87e254a17f9cc","embedded":"","height":"800","width":"450","navigationAnchor":"","spacerBeforeModule":"0","spacerAfterModule":"0"},{"key":"236b59b8-a463-4308-9ae4-f228db05b3b6","name":"Video Komponente","ncContentTypeAlias":"videoComponent","PropType":null,"videoFile":"","embedded":"<iframe width=\"560\" height=\"315\" src=\"https://www.youtube.com/embed/EAirpxZeXsI\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>","height":"","width":"","navigationAnchor":"","spacerBeforeModule":"0","spacerAfterModule":"0"}]]]></Value>
    </modules>
    <newWindow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="en-us"><![CDATA[Testseite für Videomodul]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>