<?xml version="1.0" encoding="utf-8"?>
<Content Key="2324d53a-1053-47b1-b131-4146ef99de7f" Alias="Testeite Richtext" Level="2">
  <Info>
    <Parent Key="46dae0d0-7615-415d-95d5-66b6bc79f86b">Home</Parent>
    <Path>/Home/TesteiteRichtext</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2022-02-18T12:35:51</CreateDate>
    <NodeName Default="Testeite Richtext">
      <Name Culture="en-us">Testeite Richtext</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="3ec7d64f-87fc-42b7-a8e0-0f353d5fc23c">WCContentPage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value Culture="en-us"><![CDATA[Testseite Richtext]]></Value>
    </abstract>
    <emotionImages>
      <Value><![CDATA[]]></Value>
    </emotionImages>
    <excludeFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </excludeFromXMLSitemap>
    <footerConfiguration>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </footerConfiguration>
    <googleAnalyticsKey>
      <Value><![CDATA[]]></Value>
    </googleAnalyticsKey>
    <headerConfiguration>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </headerConfiguration>
    <hideAbstract>
      <Value><![CDATA[0]]></Value>
    </hideAbstract>
    <hideFromNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromNavigation>
    <mainContent>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </mainContent>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTitle>
    <modules>
      <Value Culture="en-us"><![CDATA[[{"key":"cf1d8ed9-1e07-4a8d-a7ee-1fe3bc8def52","name":"Rich Text Komponente","ncContentTypeAlias":"richTextComponent","PropType":null,"richText":"<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>","navigationAnchor":"","spacerBeforeModule":"0","spacerAfterModule":"0"}]]]></Value>
    </modules>
    <newWindow>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </newWindow>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageTitle>
      <Value Culture="en-us"><![CDATA[Testeite Richtext]]></Value>
    </pageTitle>
    <redirectLink>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectLink>
    <searchEngineFrequency>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </searchEngineFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <theme>
      <Value><![CDATA[]]></Value>
    </theme>
    <thumbnail>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </thumbnail>
  </Properties>
</Content>